[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.20"
evm_version = "paris"
optimizer = true
optimizer_runs = 200

[rpc_endpoints]
mezo_testnet = "https://rpc.test.mezo.org"
spectrum = "https://spectrum-01.simplystaking.xyz/cm5iZ2x3dG0tMDEtOWM1YTZiNjA/XWxVfwIYGwqt_A/mezo/testnet/"

[etherscan]
mezo_testnet = { key = "placeholder", url = "https://explorer.test.mezo.org/api" }

